<%content_for :title do%>
	Fasterm - Cases de Sucesso
<%end%>

<%content_for :header do%>
	<!-- HEADER -->
	<div id="HeaderInternas">
		<%= image_tag("titulos/cases.png", :alt => "Cases de Sucesso")%>
	</div>
<%end%>

		<div id="Content" class="zeraMagem">
			<%= render :file => "layouts/_right.html.erb" %>
			
			<div id="HomeLeft">
				<!-- CONTEUDO INTERNA -->
				<div id="ContentInterno">		
					<%if !@Cases.blank?%>
						<%@Cases.each do |c|%>
						<div id="Evento">
							<span class="Titulo" style="width:550px;"><%=link_to c.category, case_path(c.category), :class =>"Titulo" %></span>
							<span class="Icones">
								<%=link_to image_tag("bullet_mais_eventos.gif"), case_path(c)%>
							</span>	
						</div>
						<%end%>
					<%end%>
				</div>
			</div>
		</div>